body {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #eee;
  text-align: center;
}

button {
  background: #029cdc;
  color: #fff;
  border: none;
  margin: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}